a:link,
a:visited,
a:active {
  color: black;
  letter-spacing: 1px;
}

.nav {
  opacity: 0.8;
  background: rgb(55, 55, 55);
}

.nav-img {
  height: 60px;
  border-style: solid;
  border-color: rgb(214, 247, 243);
  margin: auto;
}

@media (max-width: 950px) {
  .nav-img {
    height: 50px;
  }
}

img {
  margin-top: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 950px) {
  img {
    height: 200px;
  }
}

.bioTitle {
  font-family: "Abril Fatface";
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: normal;
  color: rgba(251, 61, 67, 0.85);
  text-align: right;
  margin-right: 27px;
}

.bioDiv {
  font-family: "Poiret One";
  width: 700px;
  height: 100%;
  margin: auto;
  box-shadow: 10px 10px 5px rgba(244, 61, 67, 0.5);
  background-color: rgb(233, 183, 182);
  margin-bottom: 150px;
  border-radius: 10px;
  border: 2px solid rgba(244, 61, 67, 0.7);
}

@media (max-width: 950px) {
  .bioDiv {
    width: 300px;
  }
}

.bio {
  text-align: left;
  margin-left: 20px;
  margin-right: 69px;
  font-size: 24px;
  color: rgb(51, 51, 51);
}

.ofTheRose {
  font-size: 27px;
}

.bloomTitle,
.drinkTitle,
.eventTitle {
  font-family: "Abril Fatface";
  font-size: 40px;
  letter-spacing: 2.5px;
  font-weight: normal;
  margin-top: 20px;
}

.bloomDiv,
.drinkDiv,
.eventDiv {
  border: 2px solid rgba(244, 61, 67, 0.7);
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bloomImg,
.drinkImg,
.eventImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}

.loginInput {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 0.2rem;
}

.loginBtn {
  text-align: center;
  width: 300px;
  margin: auto;
}
